@model List<Bio>
@{
    int count = 1;
}
<div class="container">
    <div class="d-flex justify-content-end">
        <a asp-action="CreateSocialMedia" class="btn btn-outline-success mx-2 my-2">Create</a>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FacebookLink</th>
                    <th scope="col">TwitterLink</th>
                    <th scope="col">InstagramLink</th>
                    <th scope="col">Text</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var headerUpSocialMedia in Model)
                {
                    <tr>
                        <td scope="col">@(count++)</td>
                        <td scope="col">@headerUpSocialMedia.FacebookLink</td>
                        <td scope="col">@headerUpSocialMedia.TwitterLink</td>
                        <td scope="col">@headerUpSocialMedia.InstagramLink</td>
                        <td scope="col">@headerUpSocialMedia.Text</td>
                        <td>
                            <a asp-action="UpdateSocialMedia" asp-route-id="@headerUpSocialMedia.Id" class="btn btn-outline-warning">Update</a>
                            <a asp-action="DetailsSocialMedia" asp-route-id="@headerUpSocialMedia.Id" class="btn btn-outline-info">Details</a>

                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal@(count)">
                                Delete
                            </button>

                            <div class="modal fade" id="exampleModal@(count)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete Slider</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Product will be deleted.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
                                            <form style="display:inline-block" asp-action="DeleteSocialMedia" method="post">
                                                <input type="submit" asp-action="DeleteSocialMedia" asp-route-id="@headerUpSocialMedia.Id" class="btn btn-outline-danger" value="Yes">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>