@model ShopVM

<main>
    <section>
        <div class="container">
            <div class="row mt-5">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-xsm-3 col-3 leftSidebar">
                    <div id="sidebar" class="left_aside">
                        <div class="col-xxl-11 col-xl-11 col-lg-11 col-md-11 col-xsm-11 col-12 m-auto">
                            <div class="titleShop">
                                <div class="sideBarHeader">
                                    <span class="sideBarHeader">
                                        <a id="sideBarHeaderClick" name="Path" asp-controller="Home" asp-action="Index">Home</a><b>
                                            /
                                            @Model.Category.Name
                                        </b>
                                    </span>
                                </div>
                                <h6 class="sideBarCategory">Categories</h6>
                            </div>
                            <div class="sideBarItem">
                                @foreach (var category in Model.Categories)
                                {
                                    <div class="sideBarForm">
                                        <a asp-route-categoryId="@category.Id" class="sidebarCat">
                                            @category.Name <span>(@category.Products?.Count())</span>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-xxl-11 col-xl-11 col-lg-11 col-md-11 col-xsm-11 col-12 m-auto">
                            <div class="titleShop">
                                <h6>Price</h6>
                            </div>
                            <div class="sideBarItem">
                                <div class="wrapper">
                                    <fieldset class="filter-price">
                                        <div class="price-field">
                                            <input type="range" min="60" max="560" value="60" id="lower">
                                            <input type="range" min="60" max="560" value="560" id="upper">
                                        </div>
                                        <div class="price-wrap">
                                            <div class="price-wrap-1">
                                                <input id="one">
                                                <label for="one">$</label>
                                            </div>
                                            <div class="price-wrap_line">-</div>
                                            <div class="price-wrap-2">
                                                <input id="two">
                                                <label for="two">$</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-11 col-xl-11 col-lg-11 col-md-11 col-xsm-11 col-12 m-auto">
                        <div class="titleShop">
                            <h6>Colors</h6>
                        </div>
                        <div class="sideBarItem">
                            @foreach (var colour in Model.Colours)
                            {
                                <div class="sideBarForm">
                                    <a asp-route-colourId="@colour.Id" class="sidebarCat">
                                        @colour.Name <span>(@colour.Products?.Count())</span>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-xsm-9 col-9 pt-5">
                    <div class="row justify-content-center">
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="container">
                                <div class="row justify-content-end align-items-center">
                                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12  col-xsm-12 col-12">
                                        <div class=" d-flex justify-content-between">
                                            <div class="shop-product-count">
                                                <p>Showing all @Model.Products.Count() results</p>
                                            </div>
                                            <ul class="nav faqSection tab-style-1" id="myTab" role="tablist">
                                                <li class="nav-item mb-4" role="presentation">
                                                    <a class="OneBtn active" id="Description-tab" data-bs-toggle="tab" href="#Description"
                                                       role="tab" aria-controls="Description" aria-selected="true">
                                                        <i class="fa fa-th me-3"></i>
                                                    </a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a id="Review-tab" class="SecondBtn disable" data-bs-toggle="tab" href="#Review" role="tab"
                                                       aria-controls="Review" aria-selected="false">
                                                        <i class="fa-solid fa-table-list"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center  gy-4 mb-5">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="Description" role="tabpanel"
                                             aria-labelledby="Description-tab">
                                            <div class="row" id="productList">
                                                @foreach (var shopProduct in Model.Products)
                                                {
                                                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                                        <div class="home-product">
                                                            <div class="home-product-content">
                                                                <div class="home-product-item">
                                                                    <div class="home-product-img">
                                                                        <span class="home-product-discount">-@shopProduct.SalePercent%</span>
                                                                        <div class="home-product-icon">
                                                                            <a data-id="@shopProduct.Id" class="home-product-icon-three add-to-basket">
                                                                            </a>
                                                                        </div>
                                                                        <a asp-controller="Shop" asp-action="Product" asp-route-id="@shopProduct.Id">
                                                                            <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                                                                             src="~/images/@shopProduct.Image"
                                                                             height="auto" width="800">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="home-product-desc">
                                                                <div class="home-product-desc-item">
                                                                    <h5 class="home-produtc-title">
                                                                        <a asp-controller="Shop" asp-action="Product" asp-route-id="@shopProduct.Id">@shopProduct.Name</a>
                                                                    </h5>
                                                                    <h6 class="home-product-price">
                                                                        <del class="home-product-oldPrice">$@shopProduct.LastPrice</del>
                                                                        <span class="home-product-newPrice">$@shopProduct.CurrentPrice</span>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Review" role="tabpanel" aria-labelledby="Review-tab">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="tab-pane fade show active" id="Description" role="tabpanel"
                                                         aria-labelledby="Description-tab">
                                                        <div class="row">
                                                            <div class="row">
                                                                @foreach (var shopProduct in Model.Products)
                                                                {
                                                                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                                                                        <div class="home-product">
                                                                            <div class="home-product-content">
                                                                                <div class="home-product-item">
                                                                                    <div class="home-product-img">
                                                                                        <span class="home-product-discount">-@shopProduct.SalePercent%</span>
                                                                                        <div class="home-product-icon">
                                                                                            <div class="home-product-icon-item">
                                                                                                @*                                                                                                not bura wishlist yoxdur silinmelidir
                                                                                            *@                                                                                                <a href="wishlist.html"></a>
                                                                                            </div>
                                                                                            <a asp-controller="Shop" asp-action="Product" asp-route-id="@shopProduct.Id" class="home-product-icon-two"></a>
                                                                                            <a data-id="@shopProduct.Id" class="home-product-icon-three add-to-basket">
                                                                                            </a>
                                                                                        </div>
                                                                                        <a asp-controller="Shop" asp-action="Product" asp-route-id="@shopProduct.Id">
                                                                                            <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                                                                                             src="~/images/@shopProduct.Image"
                                                                                             height="auto" width="800">
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="home-product-desc">
                                                                                <div class="home-product-desc-item">
                                                                                    <h5 class="home-produtc-title">
                                                                                        <a asp-controller="Shop" asp-action="Product" asp-route-id="@shopProduct.Id">@shopProduct.Name</a>
                                                                                    </h5>
                                                                                    <h6 class="home-product-price">
                                                                                        <del class="home-product-oldPrice">$@shopProduct.LastPrice</del>
                                                                                        <span class="home-product-newPrice">$@shopProduct.CurrentPrice</span>
                                                                                    </h6>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*                <div class="pagination-area">
                <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                <li class="page-item" @(Model.Paginates.CurrentPage ==1? "disabled":"")><a class="page-link" asp-action="Index" asp-route-currentPage="@(Model.Paginates.CurrentPage-1)" aria-label="Previus">1</a></li>
                @for (int i = 1; i < Model.Paginates.TotalPage; i++)
                {
                <li class="page-item" @(Model.Paginates.CurrentPage ==i? "disabled":"")><a class="page-link" asp-action="Index" asp-route-currentPage="@i">@i</a></li>
                }
                <li class="page-item" @(Model.Paginates.CurrentPage == Model.Paginates.TotalPage ? "disabled":"")><a class="page-link" asp-action="Index" asp-route-currentPage="@(Model.Paginates.CurrentPage-1)" aria-label="Next">Next</a></li>

                </ul>
                </nav>
                </div>*@
                @*                <div class="pagination-area">
                <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                <li class="page-item" @(Model.Paginations.CuurentPage ==1? "disabled":"")><a class="page-link" asp-action="Index" asp-route-currentPage="@(Model.Paginations.CuurentPage-1)" aria-label="Previus">1</a></li>
                @for (int i = 1; i < Model.Paginations.TotalPage; i++)
                {
                <li class="page-item" @(Model.Paginations.CuurentPage ==i? "disabled":"")><a class="page-link" asp-action="Index" asp-route-currentPage="@i">@i</a></li>
                }
                <li class="page-item" @(Model.Paginations.CuurentPage == Model.Paginations.TotalPage ? "disabled":"")><a class="page-link" asp-action="Index" asp-route-currentPage="@(Model.Paginations.CuurentPage-1)" aria-label="Next">Next</a></li>

                </ul>
                </nav>
                </div>*@
            </div>
        </div>
    </section>
</main>

@section scripts{
    <script>
        $(document).ready(function() {
            $(".add-to-basket").click(function(e) {
                e.preventDefault();
                var productId = $(this).attr("id");
                $.ajax({
                    url: '/Home/AddBasket',
                    type: 'POST',
                    data: { id: productId },
                    success: function(response) {
                        if (!response.error) {
                            console.log("Ürün başarıyla sepete eklendi.");
                        } else {
                            console.log("Hata: " + response.message);
                        }
                    }
                });
            });
            $('#lower, #upper').on('input', function() {
                var lowerValue = $('#lower').val();
                var upperValue = $('#upper').val();
                $('#one').val(lowerValue);
                $('#two').val(upperValue);

                var filterData = {
                    start: lowerValue,
                    end: upperValue
                };

                $.ajax({
                    url: '@Url.Action("GetProducts", "Shop")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(filterData),
                    success: function(response) {
                        var productListHtml = '';

                        for (var i = 0; i < response.length; i++) {
                            console.log(response[i].id);
                            var productHtml = '<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">';
                            productHtml += '<div class="home-product">';
                            productHtml += '<div class="home-product-content">';
                            productHtml += '<div class="home-product-item">';
                            productHtml += '<div class="home-product-img">';
                            productHtml += '<span class="home-product-discount">-' + response[i].salePercent + '%</span>';
                            productHtml += '<div class="home-product-icon">';
                            productHtml += '<a data-id='+ response[i].id +'  class="home-product-icon-three add-to-basket"></a>';
                            productHtml += '</div>';
                            productHtml += '<a href="#">';
                            productHtml += '<img decoding="async" loading="lazy" alt="custom-image" class="primary-img" src="/images/' + response[i].image + '" height="auto" width="800">';
                            productHtml += '</a>';
                            productHtml += '</div>';
                            productHtml += '</div>';
                            productHtml += '<div class="home-product-desc">';
                            productHtml += '<div class="home-product-desc-item">';
                            productHtml += '<h5 class="home-produtc-title">';
                            productHtml += '<a href="#">' + response[i].name + '</a>';
                            productHtml += '</h5>';
                            productHtml += '<h6 class="home-product-price">';
                            productHtml += '<del class="home-product-oldPrice">$' + response[i].lastPrice + '</del>';
                            productHtml += '<span class="home-product-newPrice">$' + response[i].currentPrice + '</span>';
                            productHtml += '</h6>';
                            productHtml += '</div>';
                            productHtml += '</div>';
                            productHtml += '</div>';
                            productHtml += '</div>';
                            productHtml += '</div>';

                            productListHtml += productHtml;
                        }

                        $('#productList').html(productListHtml);
                    },
                    error: function(xhr) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
}
