@model ProductVM

<section id="ProductAndSidebar" class="animate__animated animate__fadeIn">
    <div class="container mt-5 mb-5 pt-5 pb-5">
        <div class="sideBarHeader">
            <span class="singlePageBarHeader">
                <a id="sideBarHeaderClick" name="Path" asp-controller="Home" asp-action="Index">Home</a><span class="category">
                    /
                    @Model.Product?.Category.Name /
                </span><span class="categprodname"> @Model.Product?.Name </span>
            </span>
        </div>
        <div class="row gy-5 m-auto">
            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 pe-lg-5">
                <div class="row gy-4 flex-wrap-reverse">
                    <div class='col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12' id='thumb_container'>
                        <div class="row gy-4">
                            <div class='col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-4 col-4' id='thumb_container'>
                                <img class="primary-img"
                                     src="~/images/@Model.Product?.Image"
                                     onClick='sendimg(this);'>
                            </div>
                            <div class='col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-4 col-4' id='thumb_container'>
                                <img class="primary-img"
                                     src="~/images/@Model.Product?.Image"
                                     onClick='sendimg(this);'>
                            </div>
                        </div>
                    </div>
                    <div class='col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12'>
                        <div class="zoom-container" id="main_image">
                            <img id='mainimg' class="primary-img zoom"
                                 src="~/images/@Model.Product?.Image"
                                 onClick='sendimg(this);'>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 ps-5">
                <div class="shopDetailsProductTitle">
                    <h4>@Model.Product?.Name</h4>
                </div>
                <div class="shopDetailsProductReting d-flex align-items-center flex-wrap">
                    <ul class="d-flex mt-3">
                        @for (int i = 0; i < Model.Product?.Rating; i++)
                        {
                            <li class="shopDetailsProductRetingItem">
                                <i class="fas fa-star"></i>
                            </li>
                        }
                        <li class="shopDetailsProductRetingItem"><i class="fa-regular fa-star"></i></li>
                    </ul>
                </div>
                <div class="shopDetailsProductPrice mt-4">
                    <del>$@Model.Product?.LastPrice</del>
                    <span class="singleproductPrice">$@Model.Product?.CurrentPrice</span><span class="singleproduct-discount ms-3">-@Model.Product?.SalePercent%</span>
                </div>
                <div class="shopDetailsProduct shopDetailsProductDesc">
                    <i class="fa-solid fa-circle-check mt-1"></i>
                    <p class="shopDetailsProductDescItem ms-1">
                        Hurry up!! only <span class="singleproductleftitem">@Model.Product.Count</span>
                        items left
                    </p>
                </div>
                <div class="product-count">
                </div>
                <span class="quantity" for="size">Quantity</span>
                <form action="#">
                    <div class="row">
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 mt-2">
                            <div class="quantity input-group">
                                <div class="quantity-decrase input-group-addon d-flex">
                                    <input type="number" step="1" min="1" max="100" name="quantity" value="1" title="qty"
                                           class="input-text qty text t form-control" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 mb-2">
                            <input type="button" id="addToBasketButton" data-id="@Model.Product?.Id" value="Add to Cart" class="singleprod-button-add-to-cart">
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                            <input type="button" id="buyNowButton" value="Buy Now" class="singleprod-button-buy">
                        </div>

                    </div>
                </form>
                <div class="prod-info d-flex flex-column order">
                    <div class="delivery-time mt-3 me-5">
                        <i class="fa-solid fa-truck-fast"></i><span class="estimated-delivery">Estimated Delivery:</span><span class="delivery-time">@Model.Product?.DeliveryInfo</span>
                    </div>
                    <div class="free-shipping mt-1 me-4">
                        <i class="fa-solid fa-cart-shopping"></i><span class="free-shipping">Free shipping:</span><span class="order-price">@Model.Product?.ShippingInfo</span>
                    </div>
                </div>
                <div class="product-datas d-flex justify-content-between align-items-center">
                    <span class="sku_wrapper mt-3">
                        SKU : <span class="sku"> @Model.Product?.SKUCode</span>
                    </span>
                    <span class="categories_wrapper mt-3">
                        Categories : <span class="categories">
                            <a class="category_type" href="#">@Model.Product.Category.Name</a>

                        </span>
                </div>
                <div class="payment-product mt-5">
                    <p>Online Payment options</p>
                    <img src="~/images/product-online-Payment.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="product-all-informations" class="animate__animated animate__fadeIn">
    <section id="FaqSection">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-xsm-12 col-12 mb-4 mt-5">
                    <div class=" d-flex justify-content-start">
                        <ul class="nav faqSection tab-style-1" id="myTab" role="tablist">
                            <li class="nav-item-tab  mb-4 me-4" role="presentation">
                                <a class="OneBtn active" id="Description-tab" data-bs-toggle="tab" href="#Description"
                                   role="tab" aria-controls="Description" aria-selected="true">
                                    Description
                                </a>
                            </li>
                            <li class="nav-item-tab  me-4" role="presentation">
                                <a id="Additional_information-tab" class="SecondBtn disable" data-bs-toggle="tab"
                                   href="#Additional_information" role="tab" aria-controls="Additional_information" aria-selected="false">
                                    Additional information
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center gy-4 mb-5">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
                        <div class="row">
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 mt-4">
                                <img src="~/images/@Model.Product.Image" width="90%" height="90%" alt="">
                            </div>
                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 mt-5 d-flex  flex-column">
                                <h5 class="desc-product-header mb-4">Product Details</h5>

                                <p class="desc-product-details-up mb-5">
                                    @Model.Product.Description
                                </p>
                                <p class="desc-product-details-down mt-2">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Additional_information" role="tabpanel" aria-labelledby="Additional_information-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 mt-4">
                                    <p>Type</p>
                                    <p>Ideal For</p>
                                    <p>Pack Of</p>
                                    <p>Seating Capacity</p>
                                    <p>Shape</p>
                                    <p>Colour</p>
                                </div>
                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 mt-4">
                                    <p>@Model.Product?.Style</p>
                                    <p>@Model.Product?.IdealFor</p>
                                    <p>@Model.Product?.PackCount</p>
                                    <p>@Model.Product?.Capacity</p>
                                    <p>@Model.Product?.Shape</p>
                                    <p>@Model.Product?.Colour?.Name</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section id="Realeted Products" class="animate__animated animate__fadeIn">
    <div class="container">
        <div class="row">
            <h4 class="realeted mb-4">Realeted Products</h4>
            @foreach (var item in @Model.Products.Take(4))
            {
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="home-product">
                        <div class="home-product-content">
                            <div class="home-product-item">
                                <div class="home-product-img">
                                    <span class="home-product-discount">-@item.SalePercent%</span>
                                    <div class="home-product-icon">
                                        <a data-id="@item.Id" class="home-product-icon-three add-to-basket">
                                        </a>
                                    </div>
                                    <a asp-controller="Shop" asp-action="Product" asp-route-id="@item.Id">
                                        <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                                         src="~/images/@item.Image"
                                         height="auto" width="800">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home-product-desc">
                        <div class="home-product-desc-item">
                            <h5 class="home-produtc-title">
                                <a href="#">@item.Name</a>
                            </h5>
                            <h6 class="home-product-price">
                                <del class="home-product-oldPrice">$@item?.LastPrice</del>
                                <span class="home-product-newPrice">$@item?.CurrentPrice</span>
                            </h6>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

<style>
    /* Zoom effect styles */
    .zoom-container {
        position: relative;
        overflow: hidden;
    }

    .zoom {
        display: block;
        max-width: 100%;
        transition: transform 0.3s ease;
        transform-origin: 0 0; /* Set the initial transform origin to the top left */
    }

        .zoom:hover {
            transform: scale(1.5);
        }
</style>


@section addjs{
    <script>
        function addToBasket() {
            var productId = $("#addToBasketButton").data("id");

            $.ajax({
                type: "POST",
                url: "@Url.Action("AddBasket", "Home")",
                data: { id: productId },
                success: function(response) {
                    if (!response.error) {
                        console.log("Product added to the basket successfully!");
                        updateProductCount(response.productCount);
                    } else {
                        console.log("Error occurred while adding the product to the basket.");
                    }
                },
                error: function(xhr, status, error) {
                    console.log("AJAX request failed: " + error);
                }
            });
        }

        function updateProductCount(productCount) {
            $(".basket-product-count").text(productCount);
        }

        function buyNow() {
            window.location.href = "@Url.Action("Checkout", "Shop")";
        }

        $(document).ready(function() {
            $("#addToBasketButton").on("click", addToBasket);
            $("#buyNowButton").on("click", buyNow);
        });

        const mainImg = document.getElementById('mainimg');

        // Function to handle the mousemove event on the main image container
        function handleMouseMove(event) {
            const containerRect = event.currentTarget.getBoundingClientRect();
            const mouseX = event.clientX - containerRect.left;
            const mouseY = event.clientY - containerRect.top;

            // Calculate the percentage position of the mouse within the container
            const percentX = mouseX / containerRect.width;
            const percentY = mouseY / containerRect.height;

            // Set the transform origin based on the mouse position
            mainImg.style.transformOrigin = `${percentX * 100}% ${percentY * 100}%`;
        }

        // Attach the mousemove event handler to the main image container
        document.getElementById('main_image').addEventListener('mousemove', handleMouseMove);


    </script>
   }
