@model SingleBlogVM
@{

    IEnumerable<Comment> GetComments(Comment parent)
    {
        if (parent.ParentId != null)
            yield return parent;

        foreach (var item in parent.Children.SelectMany(c => GetComments(c)))
        {
            yield return item;
        }

    }

}
<main>
    <div class="container top animate__animated animate__fadeIn">
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12">
                <h2>@Model.Blog.Title</h2>
                <div class="container  d-flex align-items-center mt-4 pb-4">
                    <div class="authors_photo me-2">
                        <img src="~/images/@Model.Blog.Author?.Image" width="70" alt="creater-image" class="creator-image" style="border-radius:100%;">
                    </div>
                    <div class="creator-info d-flex flex-column  me-3">
                        <span class="creator-name">@Model.Blog.Author.FullName</span>
                        <span class="creator-profession mt-2">@Model.Blog.Author.Proffesion</span>
                    </div>
                    <div class="singleblog-time d-flex me-3">
                        <div><i class="fa-solid fa-calendar-days"></i></div>
                        <div class="d-flex flex-column">
                            <span class="creator-name">@ViewBag.datetime</span>
                            <span class="creator-profession mt-2">Published</span>
                        </div>
                    </div>
                    <div class="singleblog-readingtime d-flex">
                        <div><i class="fa-regular fa-clock"></i></div>
                        <div class="d-flex flex-column ms-2">
                            <span class="creator-name">12 Mins</span>
                            <span class="creator-profession mt-2">Reading</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12 mt-5">
                <h5 class="singleblog-header-first singleblog-header-withCreator mb-3">@Model.Blog?.HeaderUp</h5>
                <p class="singleblog-text mt-4">@Model.Blog?.InformationUp</p>
                <div class="blog-page-item-single">

                    <img width="1100" height="600" src="~/images/@Model.Blog?.Image " class="blog-page-area" alt="">
                </div>
                <p class="singleblog-text mt-5">
                    @Model.Blog?.ApplyInfo
                </p>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12 mt-5">
                    <h5 class="singleblog-header-first mt-4">@Model.Blog?.HeaderMiddle</h5>
                    <p class="singleblog-text mt-3">@Model.Blog?.InformationMiddle</p>
                    <ul class="singleblog-li">
                        <li class="singleblog-text mb-1 mt-2 ms-4">@Model.Blog.MiddleTextFirst</li>
                        <li class="singleblog-text mb-1 ms-4">@Model.Blog.MiddleTextSecond</li>
                        <li class="singleblog-text mb-1 ms-4">@Model.Blog.MiddleTextThird</li>
                        <li class="singleblog-text mb-1 ms-4">@Model.Blog.MiddleTextFourth</li>
                    </ul>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12 mt-5">
                    <h5 class="singleblog-header-first mt-3">Payless And Get The Best-Designed Applications</h5>
                    <p class="singleblog-text mt-3">@Model.Blog.HeaderEnd</p>
                    <p class="singleblog-text ms-4 mt-2">@Model.Blog.InformationEnd</p>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
                    <h5 class="singleblog-header-first mt-3">About Services</h5>
                    <div class="row mt-5">
                        <div class="col-xxl-12 singleblog-processes-text pt-3">
                            <div class="row">
                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                                    <p class="singleblog-reply">@Model.Blog.ServiceNameFirst</p>
                                </div>
                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                                    <span class="singleblog-price">$ @Model.Blog?.ServicePriceFirst K</span>

                                </div>
                                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                                    <span class="singleblog-text">@Model.Blog?.ServiceDescriptionFirst</span>
                                </div>
                            </div>
                        </div>
                        <!-- ======= -->
                        <div class="col-xxl-12 singleblog-processes-text pt-3">
                            <div class="row">
                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                                    <p class="singleblog-reply">@Model.Blog?.ServiceNameSecond</p>

                                </div>
                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                                    <span class="singleblog-price ">$@Model.Blog?.ServicePriceSecond K</span>

                                </div>
                                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                                    <span class="singleblog-text ">@Model.Blog?.ServiceDescriptionSecond</span>
                                </div>
                            </div>
                        </div>

                        <!-- ======== -->
                        <div class="col-xxl-12 singleblog-processes-text pt-3">
                            <div class="row">
                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                                    <p class="singleblog-reply">@Model.Blog?.ServiceNameThird</p>

                                </div>
                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                                    <span class="singleblog-price ">$@Model.Blog?.ServicePriceThird K</span>

                                </div>
                                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                                    <span class="singleblog-text ">@Model.Blog?.ServiceDescriptionThird</span>
                                </div>
                            </div>
                        </div>

                        <!-- ============== -->
                        <div class="col-xxl-12 singleblog-processes-text pt-3">
                            <div class="row">
                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                                    <p class="singleblog-reply">@Model.Blog?.ServiceNameFourth</p>

                                </div>
                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                                    <span class="singleblog-price ">$@Model.Blog?.ServicePriceFourth K</span>

                                </div>
                                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                                    <span class="singleblog-text ">@Model.Blog?.ServiceDescriptionFourth</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12 mt-5 singleblog-excellent-process">
            <div class="row gy-4">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12  col-12">
                    <img src="~/images/@Model.Blog?.ApplyInfoLeftImage"
                         alt="">
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12  col-12">
                    <img src="~/images/@Model.Blog?.ApplyInfoRightImage"
                         alt="">
                </div>
            </div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12 mt-5">
            <h5 class="singleblog-header-first mb-3">Excellent Processes For Excellent Applications.</h5>
            <p class="singleblog-text mt-4">@Model.Blog?.InformationMiddle</p>
            <p class="singleblog-text mt-3">@Model.Blog?.InformationEnd</p>
        </div>
           <div class="comments">
               <div class="commentTitle">
                    <h6>Comments</h6>
                </div>
                <ul>
                    @foreach (var comment in Model.Blog.Comments.Where(c => c.ParentId == null))
                    {
                        <li class="comment d-flex flex-wrap mb-3" data-comment-id="@comment.Id">
                            <div class="d-flex flex-wrap">
                                <div class="blogComentProfilPhoto">
                                    <img class="defaultuser" src="~/images/null.png" alt="Photo">
                                </div>
                                <div class="blogCommentItem">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h3 href="#" class="blogCommentItemArea">
                                                @comment.User.Name
                                            </h3>
                                            <span class="blogCommentData">
                                                <span class="">@ViewBag.DateTime</span>
                                            </span>
                                        </div>
                                        <div class="commentReply">
                                            <a class="commentReplyText btn-comment-reply">
                                               
                                            </a>
                                        </div>
                                    </div>
                                <span class="commentReplyDesc">
                                    @comment.Description
                                </span>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12 mt-5">
            <h5 class="singleblog-header-first mb-3">Leave A Reply</h5>
            <p class="singleblog-text mt-4">
                Your email address will not be published. Required fields are marked <span class="singleblog-reply">*</span>
            </p>
            <form method="post" asp-controller="Blog" asp-action="Comments" id="replyForm">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
                    <div class="d-flex justify-content-center"><div id="replyToComment"></div></div>
                </div>
                <input type="hidden" name="blogId" value="@Model.Blog.Id" />

                <div class="row mb-5 m-auto">
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
                        <div class="commentformItem">
                            <textarea name="Comment"
                                      cols="30"
                                      rows="10"></textarea>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-start">
                        <input type="submit" value="POST COMMENT" class="commentBtn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

@section addjs{
    <script>
        $(document).ready(function() {

            //bindReply();

            $('#replyForm').submit(function(e) {
                e.preventDefault();

                let formData = new FormData(e.currentTarget);

                let toCommentId = $('#replyToComment li.comment').data('comment-id')

                console.log(toCommentId)
                if (toCommentId != undefined) {
                    formData.set("commentId", toCommentId);
                }

                $.ajax
                    ({
                        url: '@Url.Action("Comments")',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        dataType: 'json',
                        success: function(response) {
                            console.log("success: ", response);
                            //bindReply();
                        },
                        error: function(response) {
                            if (response.statusText == "parsererror") {
                                if (toCommentId != undefined) {
                                    $(response.responseText).insertAfter($(`#c-${toCommentId}`));
                                    $('#replyToComment').html('');
                                    e.currentTarget.reset();
                                }
                                else {
                                    $("div.comments ul").append($(response.responseText))
                                }
                                //bindReply();
                            }
                            //console.warn("error: ", response);
                        }
                    })
            });
        });
        function removeReplySelected() {
            $('#replyToComment').html('');
        }
    </script>
    }