@model Blog

<div class="container">
    <h1>HomeProduct Details</h1>
    <div class="row">
        <div>
            <img src="~/images/@Model.Image" width="500px" height="500px"/>
            <h4>@Model.Title</h4>
            <h4>@Model.HeaderUp</h4>
            <h4>@Model.InformationUp</h4>
            <h4>@Model.HeaderMiddle</h4>
            <h4>@Model.InformationMiddle</h4>
            <h4>@Model.HeaderEnd</h4>
            <h4>@Model.InformationEnd</h4>
            <h4>@Model.ServiceInfo</h4>
            <h4>@Model.ServiceDescriptionFirst</h4>
            <h4>@Model.ServiceDescriptionSecond</h4>
            <h4>@Model.ServiceDescriptionThird</h4>
            <h4>@Model.ServiceDescriptionFourth</h4>
            <h4>@Model.ServiceNameFirst</h4>
            <h4>@Model.ServiceNameSecond</h4>
            <h4>@Model.ServiceNameThird</h4>
            <h4>@Model.ServiceNameFourth</h4>
            <h4>@Model.ServicePriceFirst</h4>
            <h4>@Model.ServicePriceSecond</h4>
            <h4>@Model.ServicePriceThird</h4>
            <h4>@Model.ServicePriceFourth</h4>
            <h4>@Model.MiddleTextFirst</h4>
            <h4>@Model.MiddleTextSecond</h4>
            <h4>@Model.MiddleTextThird</h4>
            <h4>@Model.MiddleTextFourth</h4>
            <h4>@Model.MiddleDescription</h4>
            <h4>@Model.ApplyInfoLeftImage</h4>
            <h4>@Model.ApplyInfoRightImage</h4>
            <h4>@Model.Image</h4>
        </div>
    </div>
</div>
